// A temporary barrier that stops blocking player, guards, vision, and sound
// waves when it's open!
([
  Door,
  Barrier,
  BlocksVision,
  DeflectsSounds,
  // Scene("models/animated/Fox.glb#Scene0"),
])
