([
  Player,
  Physics(radius: 0.375),
  Footsteps(sound_wave: "player.sound_wave"),
  DropShadow,
  Movement(
    linear_speed: 0.5,
    angular_speed: 6.2832
  ),
  Scene("models/animated/Fox.glb#Scene0"),
  AnimationClips({
    "idle": "models/animated/Fox.glb#Animation0",
    "moving": "models/animated/Fox.glb#Animation2",
    "puzzled": "models/animated/Fox.glb#Animation0",
    "shocked": "models/animated/Fox.glb#Animation1",
  })
])
